@font-face {
  font-family: 'ALS Gorizont';
  src: url('https://ТВОЙ_НИК.github.io/fonts/ALSGorizont-Regular.woff2') format('woff2'),
       url('https://ТВОЙ_НИК.github.io/fonts/ALSGorizont-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
