@font-face {
  font-family: 'ALS Gorizont';
  src: url('https://radmilase.github.io/ALSGOR/fonts/ALSGorizont-RegularExpanded.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALS Gorizont';
  src: url('https://radmilase.github.io/ALSGOR/fonts/ALSGorizont-MediumExpanded.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALS Gorizont';
  src: url('https://radmilase.github.io/ALSGOR/fonts/ALSGorizont-BoldExpanded.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALS Gorizont';
  src: url('https://radmilase.github.io/ALSGOR/fonts/ALSGorizont-ExtraBoldExpanded.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
